node_modules
./**/*.sw*
views/altair.*
views/altair
public/production
public/bootstrap4
public/build
public/gentelella
public/vendors
sessions
uploads
public/bower.json
public/changelog.md
public/gulpfile.js
public/LICENSE.txt
public/package.json
public/README.md
vs/

