extends organizationTemplate
block activenavs
    nav.nav
        a.nav-link#organization-link.active(data-placement="right"  data-original-title="ORGANIZATIONS" title data-toggle="tooltip-custom" href="#organizations")
            span.fa.fa-phone.fa-2x.feather.feather-package.align-self-center.menu-icon.icon-dual(height="24px" width="24px")
        a.nav-link#organization-link(data-placement="right"  data-original-title="PEOPLE" title data-toggle="tooltip-custom" href="#organizations")
            span.fa.fa-user.fa-2x.feather.feather-package.align-self-center.menu-icon.icon-dual(height="24px" width="24px")

block menus
    div.main-icon-menu-pane.mm-active.active#organizations
        div.titlebox
            h6.menu_title ORGANIZATIONS
        ul.nav.metismenu.mm-show
            li.nav-item.indent
                a.fa.fa-search.nav-link(href="/organizations/search")
                    | Search
            li.nav-item.indent
                a.fa.fa-plus.active.nav-link(href="/organizations/new")
                    | Add new
block buttons
    .form-group
        .col-12
            button.btn.btn-primary(type='button') Cancel
            //button.btn.btn-primary(type='reset' style="float:center") Reset
            button#saveContact.btn.btn-success.pull-right(type='submit') Save
    // End of Page content
    // Custom Theme Scripts


block scripts
    script(src="/js/main.js")
    script(src='/js/addorganization.js')
    
    
