doctype html
head
    meta(charset='utf-8')
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='icon' href='/images/favicon.ico' type='image/ico')
    title #{title}
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
    link(href='/vendors/font-awesome/css/font-awesome.min.css' rel='stylesheet')
    link(href='"//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"')
   
    link(href='/css/style.css' rel='stylesheet')
    link(href='/css/index.css' rel='stylesheet')
// Log In page
body(style="background-color: black")
    .container
      .row.vh-100
        .col-12.align-self-center
          .auth-page
            .card.auth-card.shadow-lg.col-md-6.offset-md-3(style="border-radius: 30px")
              .card-body
                .px-3
                  .auth-logo-box(style="position: absolute !important;left: 0 !important; right: 0 !important; top: -30px !important; text-align: center !important;")
                    a.logo.logo-admin(href='/login')
                      img.auth-logo(src='/images/logo.png' height='55' alt='logo')
                  // end auth-logo-box
                  .text-center.auth-logo-text
                    h4.mt-0.mb-3.mt-5 Let&apos;s Get Started CSO Service
                    p.text-muted.mb-0 Sign in to continue to CSO Service.
                  // end auth-logo-text
                  form.form-horizontal.auth-form.my-4(action='index.html')
                    .form-group
                      label(for='username') Username
                      .input-group.mb-3
                        span.auth-form-icon
                          i.dripicons-user
                        input#username.form-control(type='text' placeholder='Enter username')
                    // end form-group
                    .form-group
                      label(for='userpassword') Password
                      .input-group.mb-3
                        span.auth-form-icon
                          i.dripicons-lock
                        input#userpassword.form-control(type='password' placeholder='Enter password')
                    // end form-group
                    .form-group.row.mt-4
                      .col-sm-6
                        .custom-control.custom-switch.switch-success
                          input#customSwitchSuccess.custom-control-input(type='checkbox')
                          label.custom-control-label.text-muted(for='customSwitchSuccess') Remember me
                      // end col
                      .col-sm-6.text-right
                        a.text-muted.font-13(href='auth-recover-pw.html')
                          i.dripicons-lock
                          |  Forgot password?
                      // end col
                    // end form-group
                    .form-group.mb-0.row
                      .col-12.mt-2
                        button.btn.btn-gradient-primary.btn-round.btn-block.waves-effect.waves-light(type='button')
                          | Log In 
                          i.fas.fa-sign-in-alt.ml-1
                      // end col
                    // end form-group
                  // end form
                // end /div
                .m-3.text-center.text-muted
                  p
                    | Don&apos;t have an account ? 
                    a.text-primary.ml-2(href='../authentication/auth-register.html') Free Resister
              // end card-body
            // end card
            .account-social.text-center.mt-4
              h6.my-4 Or Login With
              ul.list-inline.mb-4
                li.list-inline-item
                  a(href='')
                    i.fab.fa-facebook-f.facebook
                li.list-inline-item
                  a(href='')
                    i.fab.fa-twitter.twitter
                li.list-inline-item
                  a(href='')
                    i.fab.fa-google.google
            // end account-social
          // end auth-page
        // end col
      // end row
    // end container
    // End Log In page
    // jQuery
script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js')
script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js')
// Bootstrap
script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")
script(src="https://unpkg.com/axios/dist/axios.min.js")
