 

.x-title{
    padding-left: 5px;
}
.required {
  color: red;
}
#titleText{
    padding-left: 20px;
}
::placeholder{
    font-size: 10px;
    font-style: italics
}

.display{
    display:none;
}
.left-sidenav .main-icon-menu .nav-link.active, .left-sidenav .main-icon-menu .nav-link:active {
    color: #eaf0f7 !important;
}
.indent{
    padding-left:20px;
}