<h1>Add Coalition</h1>
<!-- Tabs -->
		<!-- Smart Wizard -->
		<p>Create a Coalition in 3 steps.</p>
		<div id="wizard" class="form_wizard wizard_horizontal">
		<ul class="wizard_steps">
			<li>
			<a href="#step-1">
				<span class="step_no">1</span>
				<span class="step_descr">
								Step 1<br />
								<small> Identification</small>
							</span>
			</a>
			</li>
			<li>
			<a href="#step-2">
				<span class="step_no">2</span>
				<span class="step_descr">
								Step 2<br />
								<small>Description and Mandate</small>
							</span>
			</a>
			</li>
			<li>
			<a href="#step-3">
				<span class="step_no">3</span>
				<span class="step_descr">
								Step 3<br />
								<small>Members</small>
							</span>
			</a>
			</li>

		</ul>
	      
		<div id="step-1">
				<h2 class="StepTitle">Enter Coalition Details</h2>
			
				<form class="form-horizontal form-label-left">
						<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Full Name of Coalition* <span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
								  <input type="text" id="inputSuccess1" required="required" class="form-control col-md-7 col-xs-12">
								</div>
							  </div>
			
							  <form class="form-horizontal form-label-left">
									<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Convener <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
											  <input type="text" id="inputSuccess2" required="required" class="form-control col-md-7 col-xs-12">
											</div>
										  </div>
			
				<form class="form-horizontal form-label-left">
						<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Secretary <span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
								  <input type="text" id="inputSuccess3" required="required" class="form-control col-md-7 col-xs-12">
								</div>
							  </div>

		</form>
	</div>
	<div id="step-2">
		<h2 class="StepTitle">Step 2 Content</h2>
		
		<div class="x_content">	
			<div id="alerts"></div>
			<div class="btn-toolbar editor" data-role="editor-toolbar" data-target="#editor-one">
			  <div class="btn-group">
				<a class="btn dropdown-toggle" data-toggle="dropdown" title="Font"><i class="fa fa-font"></i><b class="caret"></b></a>
				<ul class="dropdown-menu">
				</ul>
			  </div>

			  <div class="btn-group">
				<a class="btn dropdown-toggle" data-toggle="dropdown" title="Font Size"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
				<ul class="dropdown-menu">
				  <li>
					<a data-edit="fontSize 5">
					  <p style="font-size:17px">Huge</p>
					</a>
				  </li>
				  <li>
					<a data-edit="fontSize 3">
					  <p style="font-size:14px">Normal</p>
					</a>
				  </li>
				  <li>
					<a data-edit="fontSize 1">
					  <p style="font-size:11px">Small</p>
					</a>
				  </li>
				</ul>
			  </div>

			  <div class="btn-group">
				<a class="btn" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
				<a class="btn" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
				<a class="btn" data-edit="strikethrough" title="Strikethrough"><i class="fa fa-strikethrough"></i></a>
				<a class="btn" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></a>
			  </div>

			  <div class="btn-group">
				<a class="btn" data-edit="insertunorderedlist" title="Bullet list"><i class="fa fa-list-ul"></i></a>
				<a class="btn" data-edit="insertorderedlist" title="Number list"><i class="fa fa-list-ol"></i></a>
				<a class="btn" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="fa fa-dedent"></i></a>
				<a class="btn" data-edit="indent" title="Indent (Tab)"><i class="fa fa-indent"></i></a>
			  </div>

			  <div class="btn-group">
				<a class="btn" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
				<a class="btn" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
				<a class="btn" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>
				<a class="btn" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></a>
			  </div>

			  <div class="btn-group">
				<a class="btn dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><i class="fa fa-link"></i></a>
				<div class="dropdown-menu input-append">
				  <input class="span2" placeholder="URL" type="text" data-edit="createLink" />
				  <button class="btn" type="button">Add</button>
				</div>
				<a class="btn" data-edit="unlink" title="Remove Hyperlink"><i class="fa fa-cut"></i></a>
			  </div>

			  <div class="btn-group">
				<a class="btn" title="Insert picture (or just drag & drop)" id="pictureBtn"><i class="fa fa-picture-o"></i></a>
				<input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" />
			  </div>

			  <div class="btn-group">
				<a class="btn" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></a>
				<a class="btn" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></a>
			  </div>
			</div>

			<div id="editor-one" class="editor-wrapper"></div>
			
			<textarea name="descr" id="descr" style="display:none;"></textarea>
			<br />
			<div class="col-md-9 col-sm-9 col-xs-12">
			<label>Input the mandate/interest areas of the Coalition*:</label>
			</div>
			<div class="col-md-9 col-sm-9 col-xs-12">
				<input id="tags_1" type="text" class="tags form-control" value="human rights" />
				<div id="suggestions-container" style="position: relative; float: left; width: 250px; margin: 10px;"></div>
			</div>
				<br />

		  </div>

	</div>
	<div id="step-3">
		<br />

			<br />
			<div class="col-md-9 col-sm-9 col-xs-12 form-group has-feedback">
			<label>Member Organizations*:</label>
			<p>Search member, choose their role and add them to the table</p>
		</div>
			<div class="col-md-6 col-sm-12 col-xs-12 form-group has-feedback">
				
				<input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Search Member">
				<span class="fa fa-search form-control-feedback left" aria-hidden="true"></span>
			</div>
			
		<div class="col-md-1 col-sm-1 col-xs-12 form-group has-feedback">
			<button type="button" class="btn btn-primary">Add Member</button>
			</div>

			<div class="x_content">

					

				<div class="table-responsive">
					<table class="table table-striped jambo_table bulk_action">
						<thead>
							<tr class="headings">
								<th>
									<input type="checkbox" id="check-all" class="flat">
								</th>
								<th class="column-title">Org.Member No </th>
								<th class="column-title">Organization Name </th>
								<th class="column-title">Role in Coalition </th>
								<th class="column-title no-link last"><span class="nobr">Action</span>
								</th>
								<th class="bulk-actions" colspan="7">
									<a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
								</th>
							</tr>
						</thead>

						<tbody>
							<tr class="even pointer">
								<td class="a-center ">
									<input type="checkbox" class="flat" name="table_records">
								</td>
								<td class=" ">121000040</td>
								<td class=" ">May 23, 2014 11:47:56 PM </td>
								<td class=" ">121000210 <i class="success fa fa-long-arrow-up"></i></td>
								<td class=" last"><a href="#">View</a>
								</td>
							</tr>
							<tr class="odd pointer">
								<td class="a-center ">
									<input type="checkbox" class="flat" name="table_records">
								</td>
								<td class=" ">121000039</td>
								<td class=" ">May 23, 2014 11:30:12 PM</td>
								<td class=" ">121000208 <i class="success fa fa-long-arrow-up"></i>
								</td>
								<td class=" last"><a href="#">View</a>
								</td>
							</tr>
							<tr class="even pointer">
								<td class="a-center ">
									<input type="checkbox" class="flat" name="table_records">
								</td>
								<td class=" ">121000038</td>
								<td class=" ">May 24, 2014 10:55:33 PM</td>
								<td class=" ">121000203 <i class="success fa fa-long-arrow-up"></i>
								</td>
								<td class=" last"><a href="#">View</a>
								</td>
							</tr>
							<tr class="odd pointer">
								<td class="a-center ">
									<input type="checkbox" class="flat" name="table_records">
								</td>
								<td class=" ">121000037</td>
								<td class=" ">May 24, 2014 10:52:44 PM</td>
								<td class=" ">121000204</td>
								<td class=" last"><a href="#">View</a>
								</td>
							</tr>



								
							</tr>
						</tbody>
					</table>
				</div>
	

			</div>

	</div>

<!-- End SmartWizard Content -->

<!-- /page content -->


 
<!-- jQuery Smart Wizard -->
    <script src="../vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
<script src="../js/coalition.js"></script>


