.right_col(role='main')
          div
            .page-title
              .title_left
                h3
                  | Applications
              .title_right
                .col-md-5.col-sm-5.col-xs-12.form-group.pull-right.top_search
                  .input-group
                    input.form-control(type='text', placeholder='Search for...')
                    |  
                    span.input-group-btn
                      button.btn.btn-default(type='button') Go!
            .clearfix
            .row              
              .col-md-12.col-sm-12.col-xs-12
                .x_panel
                  .x_title
                    h2
                      | Smart Parking Application
                      
                    ul.nav.navbar-right.panel_toolbox
                      li
                        a.collapse-link
                          i.fa.fa-chevron-up
                      li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                          i.fa.fa-wrench
                        ul.dropdown-menu(role='menu')
                          li
                            a(href='#') Settings 1
                          li
                            a(href='#') Settings 2
                      li
                        a.close-link
                          i.fa.fa-close
                    .clearfix
                  .x_content
                    p.text-muted.font-13.m-b-30
                      | The Buttons extension for DataTables provides a common set of options, API methods and styling to display buttons on a page that will interact with a DataTable. The core library provides the based framework upon which plug-ins can built.
                    table#datatable-buttons.table.table-striped.table-bordered
                      thead
                        tr
                          th Name
                          th Position
                          th Office
                          th Age
                          th Start date
                          th Salary
                      tbody
                        tr
                          td Airi Satou
                          td Accountant
                          td Tokyo
                          td 33
                          td 2008/11/28
                          td $162,700

                        tr
                          td Haley Kennedy
                          td Senior Marketing Designer
                          td London
                          td 43
                          td 2012/12/18
                          td $313,500
                        tr
                          td Tatyana Fitzpatrick
                          td Regional Director
                          td London
                          td 19
                          td 2010/03/17
                          td $385,750
                        tr
                          td Michael Silva
                          td Marketing Designer
                          td London
                          td 66
                          td 2012/11/27
                          td $198,500
                        tr
                          td Paul Byrd
                          td Chief Financial Officer (CFO)
                          td New York
                          td 64
                          td 2010/06/09
                          td $725,000
                        tr
                          td Gloria Little
                          td Systems Administrator
                          td New York
                          td 59
                          td 2009/04/10
                          td $237,500
                        tr
                          td Bradley Greer
                          td Software Engineer
                          td London
                          td 41
                          td 2012/10/13
                          td $132,000
                        
                        tr
                          td Angelica Ramos
                          td Chief Executive Officer (CEO)
                          td London
                          td 47
                          td 2009/10/09
                          td $1,200,000
                        tr
                          td Gavin Joyce
                          td Developer
                          td Edinburgh
                          td 42
                          td 2010/12/22
                          td $92,575
                      
.footer
    .pull-right
    | Gentelella - Bootstrap Admin Template by 
    a(href='https://colorlib.com') Colorlib
.clearfix