            <!DOCTYPE html>
            <html lang="en">
              <head>
                <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
                <!-- Meta, title, CSS, favicons, etc. -->
                <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport">

              </head>
<!-- page content -->
		<body class="nav-md">
   		 <div class="container body">
   			<div class="main_container">
	   			<div class="row">
					<div class="col-md-12 ">
						<div class="x_panel">
							<div class="x_content">
                  				<div class="x_title">     
									<h2 id='titleText'>New Organization<small>Enter Organization's Contact Details</small></h2>
                  					<div class="clearfix"></div>
                				 		 </div>
                				       	<div class="x_content">
										   <button type="button" class="btn btn-primary">Import Organization Contact[s]</button><span>Use format in </span><a href="#">sample.csv</a>
			 						      	<form id='newPerson' class="form-horizontal form-label-left input_mask">
											  <div class="form-group">
											<div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback"></div>
											<label>Organization Details*:</label>
											  <br />
											  <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
												<input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Full Name of Organization">
												<span class="fa fa-institution form-control-feedback left" aria-hidden="true"></span>
											</div>
											  <div class="col-md-6 col-sm-12 col-xs-12 form-group has-feedback">
												<input type="text" class="form-control has-feedback-left" id="title" placeholder="Nature of Organzation: NGO, CBO, Self-help Group, Company, Society, Donor">
												<span class="fa fa-institution form-control-feedback left" aria-hidden="true"></span>
											</div>
														
											<div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
												<input type="text" class="form-control has-feedback-left" id="inputSuccess3" placeholder="Acronym/Short Name">
												<span class="fa fa-user-plus form-control-feedback left" aria-hidden="true"></span>
											</div>	
											<div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
												 <label>Contact Details:</label>
											</div>
											<div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
												<input type="text" class="form-control has-feedback-left" id="inputSuccess4" placeholder="Organization Email">
												<span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
											</div>
											<div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
												<input type="text" class="form-control has-feedback-left" id="inputSuccess4" placeholder="CEO/Executive Director's Email">
												<span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
											</div>
											<div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
												<input type="text" class="form-control has-feedback-left" id="inputSuccess4" placeholder="Communication Dptmt Email">
												<span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
											</div>
											<div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
												<input type="text" class="form-control has-feedback-left" id="inputSuccess5" placeholder="Landline Telephone No.">
												<span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
											</div>
											<div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
												<input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Mobile Phone Number 1">
												<span class="fa fa-mobile form-control-feedback left" aria-hidden="true"></span>
											</div>
											<div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
												<input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Mobile Phone Number 2">
												<span class="fa fa-mobile-phone form-control-feedback left" aria-hidden="true"></span>
											</div>
							
											<div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
									 		 <label>Physical Location Details:</label>
								   			</div>
									
								  			 <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
											<input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Street/Road">
											<span class="fa fa-location-arrow form-control-feedback left" aria-hidden="true"></span>
											  </div>
											  <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
												<input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Building">
												<span class="fa fa-location-arrow form-control-feedback left" aria-hidden="true"></span>
												  </div>
												  <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
													<input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="GPS">
													<span class="fa fa-location-arrow form-control-feedback left" aria-hidden="true"></span>
													  </div>
							
											<div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
									 		 <label>Online/Social Media Details:</label>
								   			</div>
											<div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
												<input type="text" class="form-control has-feedback-left" id="inputSuccess3" placeholder="Website">
												<span class="fa fa-globe form-control-feedback left" aria-hidden="true"></span>
											</div>
											<div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
												<input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Twitter">
									 		 <span class="fa fa-twitter form-control-feedback left" aria-hidden="true"></span>
											</div>
									  		<div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
											<input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Facebook">
											<span class="fa fa-facebook form-control-feedback left" aria-hidden="true"></span>
									  		</div>
							
									 		 <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
											<input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Instagram">
											<span class="fa fa-instagram form-control-feedback left" aria-hidden="true"></span>
									  		</div>
							
									  	<div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
										<input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Flickr">
										<span class="fa fa-flickr form-control-feedback left" aria-hidden="true"></span>
									  	</div>
							
									 	 <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
										<input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Pinterest">
										<span class="fa fa-pinterest form-control-feedback left" aria-hidden="true"></span>
									  	</div>
							
										<div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
										<input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Whatsapp">
										<span class="fa fa-whatsapp form-control-feedback left" aria-hidden="true"></span>
							
									  </div>
								  <!--hapa ndio mwisho wa form-->
									</div>
									<div class="ln_solid"></div>
										<div class="form-group">
											<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
												
											 	<button type="button" class="btn btn-primary">Cancel</button>
									    		<button class="btn btn-primary" type="reset">Reset</button>
												<button id="saveContact" class="btn btn-success">Submit</button>
											</div>
										</div>
									     
							      </form>
							           </div>
									</div>
								</div>
								</div>
						   </div>
					 </div>
				 </div>
	
<!-- End of Page content -->

 
                <!-- Custom Theme Scripts -->
              
			</body>
          </html>
