	 <div class="x_title">
                        <div class="x_title">
                          <h2><i class="fa fa-bars"></i> Organizations  <small> Most recent on top </small></h2>
                          <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                              <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                              </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                          </ul>
							<div class="clearfix"></div>
									 </div>
									 <div class="x-content">
 		                  <table id="datatable-example" class="table table-striped table-hover table-bordered dt-responsive display nowrap jambo-table">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Nature of Organization</th>
                          <th>Organization Email</th>
                          <th>Communication Email </th>
                          <th>CEO/Executive Email</th>
			  <th>Landline Telephone </th>
                          <th>Mobile 1</th>
                          <th>Mobile 2</th>
                          <th>Street Road</th>
                          <th>Building </th>
                          <th>Website</th>
                          <th>Twitter </th>
                          <th>Facebook</th>
                          <th> Instagram</th>
                          <th> Flickr</th>
                          <th> Pinterest</th>
                          <th> Whatsapp</th>
                        </tr>
                      </thead>	
			  <tfoot>
                          <th>Title</th>
                          <th>Name</th>
                          <th>Nature of Organization</th>
                          <th>Organization Email</th>
                          <th>Communication Email </th>
                          <th>CEO/Executive Email</th>
			  <th>Landline Telephone </th>
                          <th>Mobile 1</th>
                          <th>Mobile 2</th>
                          <th>Street Road</th>
                          <th>Building </th>
                          <th>Website</th>
                          <th>Twitter </th>
                          <th>Facebook</th>
                          <th> Instagram</th>
                          <th> Flickr</th>
                          <th> Pinterest</th>
                          <th> Whatsapp</th>
			 </tfoot> 
                   </table>
		 <div class="clearfix"></div>
	 </div>
	</div>
