<!DOCTYPE html>
<html lang="en">
<head>
  <title>Insert data into MYSQL using Node.JS</title>
  <meta charset="utf-8">
  <meta name="viewport" >

</head>
<body>

<div class="container">
  <div class="jumbotron">
    <h4>Insert Data into MYSQL using Node.Js</h4>      
    
  </div>
  <form >
 
 <div class="form-group">
    <label for="fname">First Name:</label>
    <input type="text" class="form-control" id ="fname" name="fname">
  </div>
  <input id="user_submit"  type="button" value="submit"/>

</form>
  <p id="output"></p>
</div>

</body>
<script src="../js/insert.js"></script>